.field {
     position: relative;
     top: 300px;
    width: 1500px;
    height: 1500px;
}



div{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
   align-items: center;
   position: relative;
   left: 40%;
   
}
div *{
    margin: 5px;
}

div span {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
   
}
div p{
    font-size:20px ;
    font-family: 'Orbitron', sans-serif;
}

div input{
    margin: 10px;
}